body {
    font-family: helvetica neue;
    font-size: 26px;
    line-height: 1.5;
    background-color: #FFFFFF;
}

p {
    font-family: Georgia;
}

.page h1,
.page h2
{
    color: #BCBEC0;
    font-weight: normal;
    margin-top: 0px;
}

.page hr {
    height: 2px;
    background-color: #E6E7E8;
    border: none;
    border-bottom: solid 1px #E7EAEC;
}

/*
.frame {
    position:absolute;
    top:30px;
    right:50px;
    bottom:20px;
    left:50px;
    background-color: #F1F2F2;
    border: 1px solid #BCBEC0;
    border-radius: 4px;
}
*/
.page {
    float: left;
    -webkit-transform:translate3d(0,0,0);
    height: 100%;
    padding: 20px;
}

#pageWrapper {
    position:absolute;
    z-index:1;
    overflow:hidden;
    top:20px;
    right:20px;
    bottom:20px;
    left:20px;
}

.wrapper {
    position:absolute;
    z-index:1;
    top:0px;
    bottom:0px;
    left:20px;
    right:20px;
    overflow:auto;
}

.scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

.header, .footer {
    height: 40px;
    width: 100%;
    background-color: #000000;
    opacity: 0.1;
    z-index: 2;
}

.header {
    position:absolute;
    top: 0;
    left: 0;
    margin-top: 0;
}

.footer {
    position:absolute;
    bottom: 0;
    left: 0;
    margin-top: 0;
}